# Ignore all
*
# Whitelist
!reloading-connector
reloading-connector/target
!embedded-tomcat
embedded-tomcat/target
!spring-boot
spring-boot/target
!standalone-tomcat
!.mvn
!mvnw
!pom.xml
!entrypoint.sh
!createCerts.sh