# Ignore all
*
# Whitelist
!reloading-connector
reloading-connector/target
!reloading-connector-spring-boot
reloading-connector-spring-boot/target
!examples
examples/embedded-tomcat/target
examples/spring-boot/target
!.mvn
!mvnw
!pom.xml
!entrypoint.sh
!createCerts.sh